<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Forum - Home</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" type="image/webp" href="/static/images/doom_fav.webp">
</head>
<body>
{{ template "nav" . }}
<main class="container">
    <h1>Save Our Skufs!</h1>
    <ul>
        {{ range .Posts }}
        <li><a href="/post?id={{ .ID }}">{{ .Topic }}</a></li>
        {{ end }}
    </ul>
</main>
</body>
</html>
