<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Forum - Home</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" type="image/webp" href="/static/images/doom_fav.webp">
</head>
<body>
{{ template "nav" . }}
<main class="container">
    <h1>Save Our Skufs!</h1>
<form class="catogory_filter" action="" method="" >
    <ul class="category-list">
    {{ range .Categories }}
        <li class="category-item">
            <input class="input" type="checkbox" name="categories" id="category-{{.}}" value="{{.}}">
            <label class="label" for="category-{{.}}">{{.}}</label>
        </li>
    {{ end }}
        <li>
            <input class="label submit" type="submit" value="Filter">
        </li>
    </ul>
</form>
    <ul>
        {{ range .Posts }}
        <li>
            <div class="post-header">
                <a href="/post?id={{ .ID }}">{{ .Topic }}</a>
                <span class="post-likes">Likes: {{ .Likes }} | Dislikes: {{ .Dislikes }}</span>
            </div>
            <div class="post-info">Author: {{ .Author }} | Date: {{ .Date }}</div>
        </li>
        {{ end }}
    </ul>
</main>
</body>
</html>
