<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ .Post.Topic }}</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" href="/static/images/doom_fav.webp" type="image/webp">
</head>
<body>
{{ template "nav" . }}
<main class="container">
    <h1 class="post-topic">{{ .Post.Topic }}</h1>

    {{ if or (eq .Post.Status "approved") (or (eq .User.Role "moderator") (eq .User.Role "admin")) }}
    <div class="post-content">
        <p>{{- .Post.Body -}}</p>
    </div>
    {{ if .Post.ImagePath }}
    <div class="post-image">
        <img src="{{ .Post.ImagePath }}" alt="Post Image" style="max-width: 100%; height: auto;">
    </div>
    {{ end }}

    <div class="forlikes-wrapper">
        <div>
            <p><strong>Author:</strong> {{ .Post.Author }}</p>
            <p><strong>Category:</strong> {{ .Post.Category }}</p>
            <p><strong>Date:</strong> {{ .Post.Date }}</p>
        </div>
        <div class="post-reactions">
            <form method="POST" action="/react" class="reaction-form">
                <input type="hidden" name="post_id" value="{{ .Post.ID }}" />
                <input type="hidden" name="user_id" value="{{ .User.ID }}" />
                <div class="reaction-group">
                    <button type="submit" name="reaction" value="like" class="reaction-button like-button {{if .Post.UserLiked}}active{{end}}">🍺</button>
                    <span class="reaction-count">{{ .Post.Likes }}</span>
                </div>
                <div class="reaction-group">
                    <button type="submit" name="reaction" value="dislike" class="reaction-button dislike-button {{if .Post.UserDisliked}}active{{end}}">🍼</button>
                    <span class="reaction-count">{{ .Post.Dislikes }}</span>
                </div>
            </form>
        </div>
    </div>

    <h2>Comments</h2>
    {{ if .Post.Comments }}
    {{ $user := .User}}
    {{ $post := .Post}}
    {{ range .Post.Comments }}
    <div class="comment-box">
        <div class="wrapper">
            <div class="comment-author">{{ .Author }}</div>
            <div class="comment-body">{{ .Body }}</div>
            <div class="comment-date">{{ .Date }}</div>
        </div>
        <div class="post-reactions">
            <form method="POST" action="/comment-react" class="reaction-form">
                <input type="hidden" name="post_id" value="{{ $post.ID }}" />
                <input type="hidden" name="comment_id" value="{{ .ID }}" />
                <input type="hidden" name="user_id" value="{{ $user.ID }}" />
                <div class="reaction-group">
                    <button type="submit" name="reaction" value="like" class="reaction-button like-button {{if .UserLiked}}active{{end}}">🍺</button>
                    <span class="reaction-count">{{ .Likes }}</span>
                </div>
                <div class="reaction-group">
                    <button type="submit" name="reaction" value="dislike" class="reaction-button dislike-button {{if .UserDisliked}}active{{end}}">🍼</button>
                    <span class="reaction-count">{{ .Dislikes }}</span>
                </div>
            </form>
        </div>

        {{ if eq .UserID $user.ID }}
        <!-- Автор комментария -->
        <div class="post-buttons">
            <a href="/edit-comment?id={{ .ID }}" class="action-button">Edit</a>
            <form action="/delete-comment?id={{ .ID }}" method="POST" style="display:inline;">
                <button type="submit" class="action-button">Delete</button>
            </form>
        </div>
        {{ else if or (eq $.User.Role "admin") (eq $.User.Role "moderator") }}
        <div class="post-buttons">
            <form action="/delete-comment?id={{ .ID }}" method="POST" style="display:inline;">
                <button type="submit" class="action-button btn-moderator-delete">Delete (Admin/Moderator)</button>
            </form>
        </div>
        {{ end }}
    </div>
    {{ end }}
    {{ else }}
    <p>No comments yet. Be the first to comment!</p>
    {{ end }}

    {{ if .User.IsAuth }}
    <h3>Add a Comment</h3>
    <form method="POST" action="/comment">
        <input type="hidden" name="post_id" value="{{ .Post.ID }}">
        <label for="comment_body">Comment:</label>
        <textarea id="comment_body" name="comment_body" required></textarea>
        <button type="submit" class="action-button">Submit</button>
    </form>
    {{ else }}
    <p>You must be logged in to add a comment.</p>
    {{ end }}

    <div class="post-buttons">
        <a href="/" class="action-button">Go back</a>
        {{ if eq .Post.UserID .User.ID }}
        <div class="post-buttons">
            <a href="/edit-post?id={{.Post.ID}}" class="action-button">Edit</a>
            <form action="/delete-post?id={{.Post.ID}}" method="POST" style="display:inline;">
                <button type="submit" class="action-button">Delete</button>
            </form>
        </div>
        {{ end }}
    </div>

    {{ if or (eq .User.Role "moderator") (eq .User.Role "admin") }}
    {{ if ne .Post.Status "approved" }}
    <p><em>Post is pending approval.</em></p>
    <form method="POST" action="/approve-post?id={{.Post.ID}}">
        <button type="submit" class="btn-moderator">Approve</button>
    </form>
    {{ end }}
    {{ if ne .Post.UserID .User.ID }}
    <form method="POST" action="/delete-post?id={{.Post.ID}}">
        <button type="submit" class="btn-moderator-delete">Delete as Moderator/Admin</button>
    </form>
    {{ end }}
    {{ end }}

    {{ if eq .User.Role "moderator" }}
    {{ if .Post.ReportedByCurrentModerator }}
    <p class="already-reported">You have already reported this post.</p>
    {{ else }}
    <form method="POST" action="/report-post?id={{.Post.ID}}">
        <button type="submit" class="btn-moderator-disable">Report</button>
    </form>
    {{ end }}
    {{ end }}

    {{ else }}
    <p><em>This post is pending moderation and currently not available.</em></p>
    {{ end }}
</main>
</body>
</html>
