<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User Profile</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
{{ template "nav" . }}
<main class="container">
  <h1>Hey, {{ .User.Name }}</h1>

  <div class="user-actions">
    <form method="GET" action="/user">
      <button type="submit" name="action" value="posts">My Posts</button>
      <button type="submit" name="action" value="comments">Posts With My Comments</button>
      <button type="submit" name="action" value="reactions">My Reactions</button>
    </form>
  </div>

  {{if eq .User.Role "moderator" }}
  <p>
     <a href="/moderator">Moderator's page</a>
  </p>
  {{ end }}

  {{if eq .User.Role "admin" }}
  <p>
      <a href="/admin">Admin's page</a>
  </p>
  {{ end }}

  {{if eq .User.Role "user"}}
  {{if .HasModeratorRequest}}
  <p><em>You have already requested to become a moderator.</em></p>
  {{else}}
  <p>
    <a href="/promote">I want to be a moderator!</a>
  </p>
  {{end}}
  {{end}}

  {{ if .Posts }}
  <h2>{{ .PageTitle }}</h2>
  <ul>
    {{ range .Posts }}
    <li>
      <a href="/post?id={{ .ID }}">{{ .Topic }}</a>
      <div>Author: {{ .Author }} | Date: {{ .Date }} | Category: {{ .Category }}</div>
    </li>
    {{ end }}
  </ul>
  {{ else if .PageTitle }}
  <p>No posts found in this section.</p>
  {{ end }}

</main>
</body>
</html>
